.fix-menu{
	position: absolute;
	right: 0px;
	width: 120px;
	bottom:50%;
}

.fix-menu a{
	/*position: absolute;
	right: 0;
	width: 100px;*/
	padding: 5px 7px;
	float: right;
	clear: both;
	text-align: right;
}

.fix-menu a.active{
	background: #333;
	color: #ddd;
}

.fix-menu-mini{
	width: 10px;
}

.fix-menu-mini a{
	width: 5px;
	display: block;
	overflow: hidden;
	height: 5px;
	background: #ccc;
	text-indent: 100px;
	margin-top: 4px;
}

.fix-menu-mini a.active{
	
}

	
/**右侧栏**/
#social {
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:900;
}

.social_li {
	cursor:pointer;
	width:35px;
	height:35px;
	border:1px solid #29a6e8;
	margin-bottom:5px;
	position:relative;
	filter:alpha(opacity=90); 
	-moz-opacity:0.9; 
	-khtml-opacity:0.9; 
	opacity:0.9;
	background:url(http://www.kchance.com/images/icon-social.png) no-repeat #fff;
	z-index:900;
	overflow:visible;
	/**width:auto;
	*height:auto;*/
}

.phone {
	background-position:10px -177px;
	font-family:Century Gothic;
	letter-spacing:0.05em;
	font-size:16px;
}

.gotop {
	background-position:10px -367px;
}

.wechat {
	background-position:9px -293px;
}

.wechat:hover {
	opacity:1;
}

.social_li a {
	cursor:pointer;
	display:none;
	position:absolute;
	color:#FFF;
	background:url(http://www.kchance.com/images/icon-social.png) no-repeat 105px -79px #29a6e8;
	height:37px;
	line-height:37px;
	right:0;
	top:-1px;
	padding:0 0 0 10px;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	z-index:999;
}

.phone a {
	width:270px;
	background-position:255px -221px;
	text-align: left;
}

.wechat a {
	width:160px;
	height:160px;
	background:#ebf8ff;
	top:-124px;
	right:-1px;
	padding:0;
}

.gotop a {
	width:35px;
	height:35px;
	background:none;
	text-align: center;
	font-size: 12px;
	line-height:14px;
	letter-spacing:0.05em;
	display: block;
}

.wechat img {
	width:148px;
	height:148px;
	margin:6px;
}